<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    </configSections>

  <system.web>
    <trust level="Full"/>
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy>
      <authorization>
        <deny users="?"/>
        <deny roles="Tecnico"/>
      </authorization>
    </system.web>
  
</configuration>
